<style>
  body {
    --text-primary: #EEE;
    --text-secondary: #AAA;
    --bg-primary: #000;
    --bg-card: transparent;
    --margins-half: 5px;
    --margins: 10px;
    --margins-2x: 20px;
    --button-height: 40px;
    --button-width: 40px;
    --button-border-radius: 20px;
    --button-text: #AAA;
    --button-bg: hsla(0, 0%, 25%, 0.6);
    --button-border: transparent;
    --planet-type: #B2FFE0;
    --bg-tag: hsla(0, 0%, 67%, 0.8);
    background-color: var(--bg-primary);

  }

  /* Colors & Styles for Colony Ship */
  #app { background-color: var(--bg-primary); }
  .game-title { color: var(--text-secondary); }
  .full-page-background {
    background-image: url('https://raw.githubusercontent.com/nickpunt/storysynth/main/colony/telescope.jpg?raw=true');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0 !important;
  }
  .card-body {
    color: var(--text-primary);
    background-color: var(--bg-card);
  }
  .ship-background {
    background-image: url('https://raw.githubusercontent.com/nickpunt/storysynth/main/colony/ship.jpg?raw=true');
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
  }
  .planet {
    height: 100vh;
    width: 100vw;
    background-position: right 4%;
    background-repeat: no-repeat;
    background-size: 65% auto;
    display: flex;
  }
  .planet-type-o,
  .planet-type-m,
  .planet-type-k,
  .planet-type-g,
  .planet-type-l { background-image: url('https://raw.githubusercontent.com/nickpunt/storysynth/main/colony/planet.png?raw=true'); }
  .planet-info {
    margin: auto 0;
    padding: 70px 40px 0 10px;
    line-height: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .planet-name {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0 2px 0 hsla(0, 0%, 0%, 1);
  }
  .planet-type {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 0 2px 0 hsla(0, 0%, 0%, 1);
    color: var(--planet-type);
    margin-bottom: 10px;
  }
  .planet-desc {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 1);
    margin-bottom: 10px;
    line-height: 1.1;
  }
  .planet-stats {
    font-size: 12px;
    font-weight: 700;
  }
  .stat-tag {
    border-radius: 5px;
    margin: 0 5px 5px 0;
    background-color: var(--bg-tag);
    padding: 5px 8px;
    display: inline-block;
  }
  .act {
    padding-top: 80px;
  }
  @keyframes actFade {
    0%    { opacity:0; }
    100%  { opacity:1; }
  }
  @keyframes typing {
    0%   { width: 0% }
    33%   { width: 0% }
    100% { width: 100% }
  }
  .act-heading {
    font-size: 30px;
    text-align: center;
    animation: actFade 6s;
    animation-iteration-count: 1;
  }
  .act-desc {
    display: inline-block;
    font-family: Courier, monospace;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 6s steps(30, end);
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
  }
  /* source: https://www.reddit.com/r/TheExpanse/comments/7edumc/inside_the_nauvoo_xpost_from_rart/ */
  .on-ship {
    white-space: normal;
    background-image: url('https://raw.githubusercontent.com/nickpunt/storysynth/main/colony/on-ship.jpg?raw=true');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0 !important;
    height: 100vh;
  }
  /* add some shade over image */
  .on-ship-content {
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding-top: 40px;
  }
  .card-heading {
    font-size: 26px;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 2px 0 hsla(0, 0%, 0%, 1);
    margin: 0 20px;
  }
  .ideas {
    margin: 20px 20px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .idea {
    width: 100%;
    border-radius: 20px;
    height: 40px;
    margin: 0 20px;
    padding: 4px 0;
    background-color: var(--button-bg);
    color: var(--text-primary);
    font-size: 18px;
  }
  /***************** MOBILE LAYOUT (Generic) **********************/

  /* fix safari mobile drag scrolling */
  body { overflow: hidden; }

  @media screen and (max-width: 751px) {
    #app { padding-top: 0 }
    .navbar { display: none }
    .non-footer-content {
      padding: 0 !important;
      height: 100vh !important;
    }
    .before-game-card {
      position: fixed;
      bottom: 0;
      right: 0;
      padding-bottom: calc(var(--margins) + env(safe-area-inset-bottom));
      z-index: 10;
    }
    .card-navigation-buttons {
      margin-bottom: 0 !important;
    }
    /* Means scrolling up (to minimize address bar) will not cause bottom buttons to go into safe area */
    .after-game-card {
      position: fixed;
      bottom: 0;
      left: 0;
      margin: 0;
      z-index: 10;
      padding-bottom: calc(var(--margins) + env(safe-area-inset-bottom));
    }
    .after-game-card .btn-group {
      height: var(--button-height);
    }
    .after-game-card .btn-group .btn {
      padding: 4px 5px;
      line-height: 1.3;
      font-size: 13px;
    }
    .after-game-card .mb-4 { margin-bottom: 0 !important; }
    /* Buttons;
    TOOD future standardize:
    1. 'div' being 'row'
    2. 'div > btn-group' having 'col-sm' and removing 'd-flex' */
    .before-game-card > .card-navigation-buttons > .btn-group,
    .after-game-card > div > .btn-group {
      margin: 0 var(--margins-half);
    }
    /* Universal Button Styling */
    .btn-group button.btn {
      border-color: var(--button-border);
      background-color: var(--button-bg);
      color: var(--button-text);
    }
    /* Reset Button */
    .after-game-card > div > .btn-group > .btn:first-of-type {
      flex-grow: unset;
      color: transparent;
      width: var(--button-width);
      height: var(--button-height);
      border-radius: var(--button-border-radius) !important;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.972 3.4 3.106 2.544c-.91 1.124-1.392 2.463-1.392 3.882a6.159 6.159 0 0 0 12.316 0 6.108 6.108 0 0 0-1.366-3.855l3.106-2.544a10.107 10.107 0 0 1 2.276 6.399C21.018 15.448 16.44 20 10.844 20 5.248 20 .67 15.448.67 9.826c0-2.33.83-4.605 2.302-6.426Zm9.88-3.4v8.621H8.836V0h4.016Z' fill='%23AAAAAA' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: unset !important;
    }
    /* bug here, retains focus until other button pressed. oh well */
    .after-game-card > div > .btn-group > .btn:first-of-type:active,
    .after-game-card > div > .btn-group > .btn:first-of-type:focus,
    .after-game-card > div > .btn-group > .btn:first-of-type:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.972 3.4 3.106 2.544c-.91 1.124-1.392 2.463-1.392 3.882a6.159 6.159 0 0 0 12.316 0 6.108 6.108 0 0 0-1.366-3.855l3.106-2.544a10.107 10.107 0 0 1 2.276 6.399C21.018 15.448 16.44 20 10.844 20 5.248 20 .67 15.448.67 9.826c0-2.33.83-4.605 2.302-6.426Zm9.88-3.4v8.621H8.836V0h4.016Z' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    }
    .btn-group button.control-button-safety-card {
      flex-grow: unset;
      color: transparent;
      width: var(--button-width);
      height: var(--button-height);
      border-radius: var(--button-border-radius) !important;
      margin-left: 10px !important;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.15 0 20 5.875v8.25L14.15 20H5.9L0 14.125v-8.25L5.9 0h8.25Zm-.604 3.75c-1.185 1.168-2.37 2.353-3.554 3.538A353.59 353.59 0 0 0 6.454 3.75L3.75 6.454a353.59 353.59 0 0 0 3.538 3.538c-1.185 1.185-2.37 2.37-3.538 3.554l2.704 2.704c1.185-1.185 2.37-2.353 3.538-3.538 1.185 1.185 2.37 2.353 3.554 3.538l2.704-2.704c-1.185-1.185-2.353-2.37-3.538-3.554 1.185-1.169 2.353-2.353 3.538-3.538L13.546 3.75Z' fill='%23AAAAAA' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: unset !important;
    }
    .btn-group button.control-button-safety-card:active,
    .btn-group button.control-button-safety-card:focus,
    .btn-group button.control-button-safety-card:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.15 0 20 5.875v8.25L14.15 20H5.9L0 14.125v-8.25L5.9 0h8.25Zm-.604 3.75c-1.185 1.168-2.37 2.353-3.554 3.538A353.59 353.59 0 0 0 6.454 3.75L3.75 6.454a353.59 353.59 0 0 0 3.538 3.538c-1.185 1.185-2.37 2.37-3.538 3.554l2.704 2.704c1.185-1.185 2.37-2.353 3.538-3.538 1.185 1.185 2.37 2.353 3.554 3.538l2.704-2.704c-1.185-1.185-2.353-2.37-3.538-3.554 1.185-1.169 2.353-2.353 3.538-3.538L13.546 3.75Z' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    }
    .btn-group.control-button-last-card > button {
      flex-grow: unset;
      color: transparent !important;
      width: var(--button-width);
      height: var(--button-height);
      border-radius: var(--button-border-radius) !important;
      margin-left: 10px !important;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.488 15h-12V0h12v15Zm1-10v11h-8v4h12V5h-4Z' fill='%23AAAAAA' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: unset !important;
    }
    .btn-group.control-button-last-card.show > button {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.488 15h-12V0h12v15Zm1-10v11h-8v4h12V5h-4Z' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    }

    .btn-group button.control-button-previous-card {
      color: transparent;
      width: var(--button-width);
      height: var(--button-height);
      border-radius: var(--button-border-radius) !important;
      margin-left: 10px !important;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 8.379 0l2.871 2.417-6.367 7.603 6.367 7.582L8.379 20C5.593 16.661 2.766 13.356 0 10Z' fill='%23AAAAAA' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
    }
    .btn-group button.control-button-next-card {
      color: transparent;
      width: var(--button-width);
      height: var(--button-height);
      border-radius: var(--button-border-radius) !important;
      margin-left: 10px !important;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 10 2.871 0 0 2.417l6.367 7.603L0 17.602 2.871 20c2.786-3.339 5.613-6.644 8.379-10Z' fill='%23AAAAAA' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
    }
    /* normally hidden in mobile */
    #app .main-card {
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: unset !important;
      background-color: unset !important;
      border: 0 !important;
      z-index: 1;
      position: relative;
      width: 100vw;
      height: 100vh;
      font-family: "Freight Sans",'Proxima Nova',proxima-nova,sans-serif;
    }
    .game-room,
    .full-page-background {
      width: 100vw !important;
      height: 100vh !important;
      padding: 0 !important;
    }
    .card-body {
      margin: 0 !important;
      align-items: start !important;
      padding: 0 !important;
      white-space: normal !important;
    }
    .card-body > div > p {
      width: 100vw;
      height: 100vh;
      margin: 0 !important;
    }
    /* Get rid of Powered by Story Synth */
    footer { display: none; }
  }
  @font-face {
    font-family: "Freight Sans";
    font-weight: 300;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-light.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 300;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-light-italic.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-weight: 400;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-book.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 400;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-book-italic.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-weight: 700;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-bold.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 700;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-bold-italic.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-weight: 900;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-black.woff2?raw=true") format("woff2");
  }
  @font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 900;
    src: url("https://github.com/nickpunt/storysynth/blob/main/colony/freight-sans-black-italic.woff2?raw=true") format("woff2");
  }

</style>
